---
---
@charset "utf-8";

// Our variables
$font-family: 'Montserrat', sans-serif;

$text-color:       #FFF;
$background-color: #32333a;
$hightlight-color: #ff8d30;

$max-width: 1200px;

* {
    font-family: $font-family;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: $background-color;
    color: $text-color;
    opacity: 0;
    transition: opacity 1s;
}

::selection {
    background: $hightlight-color;
}
::-moz-selection {
    background: $hightlight-color;
}

.site-title {
    color: #FFF;
    display: block;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.3em;
}

h2 {
    font-size: 2em;
    color: #adadad;
}

h1, .section {
    text-align: center;
}

a {
    color: $hightlight-color;
    display: inline-block;
}

.flip {
    transform-origin: center;
    transform: rotate3d(2, -1, -0.5, 100deg);
    transition: transform .4s cubic-bezier(0.62, 0.46, 0.27, 1.55);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.section a {
    width: 16em;
    margin: 0 1em;
    padding: 1em 0;

    &:hover {
        background: #3C414A;
    }
}

.icon {
    position: relative;
    margin: 0 0.8em;
    display: inline-block;

    a {
        font-size: 3em;
        color: black;
    }

    div {
        color: $hightlight-color;
        white-space: nowrap;
        text-align: left;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: -1em;
        top: 1em;
        padding: 1em 2em 1em 1em;
        transition: opacity 0.3s, top 0.3s;

        &::selection {
            background: #666;
        }
        &::-moz-selection {
            background: #666;
        }
    }

    &:hover div {
        pointer-events: initial;
        opacity: 1;
        top: 2em;
    }
}

.slash {
    display: block;
    margin: 0 auto;
    height: 8em;
}

.border {
    border: 1px solid;
    padding: 0.4em;
    border-radius: 6px;
}

button {
    display: block;
    font-size: 1.2em;
    margin: 1em auto auto;
    background: none;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border: none;
    padding: .75em 1em .7em;
}

.post-content p {
    max-width: $max-width;
    line-height: 1.3em;
    margin: 1em auto;
}