---
layout: default
---

<div class="home">

    <h2 class="page-heading">Projects</h2>
    <div class="section">
        {% for project in site.projects %}
            {% if project.category == "github" %}
            <a href="{{ project.url }}" class="flip">
                <img class="slash" src="/img/{{ project.image }}"/>
                <button>{{ project.title }}</button>
            </a>
            {% endif %}
        {% endfor %}
    </div>

    <h2 class="page-heading">Sites</h2>
    <div class="section">
        {% for project in site.projects %}
            {% if project.category == "site" %}
            <a href="{{ project.url }}" class="flip">
                <img class="slash" src="/img/{{ project.image }}"/>
                <button>{{ project.title }}</button>
            </a>
            {% endif %}
        {% endfor %}
    </div>

</div>
