<div class="icon flip">
    <div>GitHub</div>
    <a class="fa fa-github" href="https://github.com/bencroskery"></a>
</div>
<div class="icon flip">
    <div>LinkedIn</div>
    <a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/bencroskery"></a>
</div>
<div class="icon flip">
    <div>benjamincroskery@cmail.carleton.ca</div>
    <a class="fa fa-envelope" href="mailto:benjamincroskery@cmail.carleton.ca"></a>
</div>
<div class="icon flip">
    <div>Resume</div>
    <a class="fa fa-file-text" href="https://dl.dropboxusercontent.com/u/75523753/Resume.pdf"></a>
</div>